html {
  background-color: #F6F6F6;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  font-size: 16px;
 }
body {
  position: relative !important;
  width: 100%;
  min-height: 100%;
  margin: 0;
  background-color: #F6F6F6;
  background-image: linear-gradient(0deg, #F6F6F6 , #E1ECE9);
  background-size: 100% 810px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
}
a {
  cursor: pointer;
}
.center--h{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.center--v {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
header {
  position: fixed;
  top: 0;
  width: 80vw;
  height: 100vh;
  color: #75809C;
  background-color: transparent;
}
header::after {
  content: "\00A9  2023 ShuYou. All Rights Reserved.";
  text-align: center;
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
}
#side-header {
  display: initial;
  top: 0;
  left: 0;
  width: 25vw;
  background-color: #F6F6F6;
  box-shadow: 1px 0 5px #B6BBBE;
}
#side-header__button {
  display: none;
  width: 38px;
  height: 38px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  background-color: #82ABA3;
  opacity: 65%;
  transition: all 200ms;
}
#side-header__button:hover {
  background-color: #F6F6F6;
  transition: all 200ms;
}
.fa-bars, .fa-xmark {font-size: 1.35rem; color: #F6F6F6; opacity: 100%; transition: all 200ms;}
#side-header__button:hover .fa-bars {color: #82ABA3; transition: all 200ms;}
#side-header__button:hover .fa-xmark {color: #82ABA3; transition: all 200ms;}

@media screen and (max-width: 890px) {
  #side-header {
    display: none;
  }
  #side-header__button {
    display: initial;
  }
}
#side-header::after {
  content: "\00A9  2023 ShuYou.\a All Rights Reserved.";
  white-space: pre;
  width: 80%;
}
/* Preloader */
#preloader * {
  z-index: 9999;
}
#curtain {
  position: fixed;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #F6F6F6;
}
#ring {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10vw;
  height: 10vw;
  min-width: 6.5rem;
  min-height: 6.5rem;
  text-align: center;
  background-color: transparent;
  border-radius: 50%;
}
#ring::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 2.5px 1px 2px #99DDCC;
  opacity: 70%;
  animation: ring--rotation .6s ease-out infinite;
}
@keyframes ring--rotation {
  from {
    transform: translateX(-50%) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg);
  }
}
#ring::after {
  content: "LOADING...";
  font-weight: 500;
  color: #A9C7C5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: change-opacity .5s ease-out infinite alternate;
}
@keyframes change-opacity {
  from {
    opacity: 90%;
  }
  to {
    opacity: 20%;
  }
}
/* End Preloader */

/* Navbar */
#navbar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: transparent;
  margin: 0;
  padding: 0;
  z-index: 999;
}
#navbar [id*="navbar--"] {
  position: absolute;
  width: auto;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}
#navbar--left {
  left: 2.5rem;
}
#navbar--right {
  max-width: 65%;
  right: 1.5rem;
}
.menu__item {
  position: relative;
  width: 6.5rem;
  height: 1rem;
  font-size: 16px;
  font-weight: 600;
  color: #82ABA3;
  text-decoration: none;
  text-align: center;
  margin: auto 1rem;
  transition: font-size 200ms;
}
.menu__item::before {
  content: "";
  width: 115%;
  height: 2.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -48%);
  background-color: #F6F6F6;
  border-radius: 8px;
  z-index: -1;
}
.menu__item:hover {
  color: #F6F6F6;
  font-weight: 700;
  transition: all 200ms;
}
.menu__item:hover::before{
  background-color: #82ABA3;
  opacity: 70%;
  transition: all 200ms;
}
/* End Navbar */

/* homePage avatar */
#avatar {
  top: 8rem;
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  box-shadow: 0 0 8px #B6BBBE;
}
#avatar img{
  position: relative;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  margin: auto;
}
#social-media {
  top: 29.7rem;
  width: 15rem;
  height: 1.5rem;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}
.social-link {
  position: relative;
  width: 2rem;
  height: 2rem;
}
.social-link::before {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #FFFFFF;
  border-radius: 5px;
  z-index: -1;
}
.social-link:hover::before {
  background-color: #82ABA3;
  opacity: 70%;
}
.social-link:hover .social-icon {
  color: #FFFFFF;
  font-size: 1.35rem;
  transition: all 250ms;
}
.fa-instagram {color: #FF2E8C;}.fa-linkedin-in {color: #0073B2;}.fa-github {color: #000000;}.fa-facebook-f {color: #0671e7;}
.social-icon {
  width: inherit;
  height: inherit;
  font-size: 1.25rem;
}
.social-icon::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* End homePage avatar */

#main-content {
  position: fixed;
  top: 0;
  right: 0;
  width: 75vw;
  min-height: 100vh;
  background-color: transparent;
}
#footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 75vw;
  min-height: 64px;
  font-size: 14px;
  color: #75809C;
  background-color: transparent;
}
@media screen and (max-width: 768px) {
  /*#footer {
    width: 95%;*/
  }
}
#footer::after {
  content: "This page was last modified on " attr(date);
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  z-index: -1;
}
#footer hr {
  top: -1rem;
  width: 90%;

}
/*.text {
  position: relative;
  margin: 0 auto;
  padding: 20px 40px;
}*/

#photo {
  position: relative;
  width: 280px;
  height: 350px;
  background-color: #ffffff;
  box-shadow: 4px 4px 8px #B6BBBE;
  border-radius: 10px;
  margin: 40px 1em;
}

#google-map {
  position: relative;
  top:44px;
  width: 80%;
  height: 80%;
  border: 0;
}
