html {
  background-color: #FFFBF5;
  overflow-x: hidden;
  height: 100%;
}

html * {
  font-family: Montserrat, "PingFang TC", "微軟正黑體", sans-serif !important;
}

body {
  min-height: 100%;
  margin: 0;
}

hr {
  width: 90%;
  border-top: 1px solid #BFC2CB;

}

h1 {
  font-size: 38px;
  color: #82ABA3;
  text-shadow: 3px 3px 3px #B6BBBE;
  text-align: left;
  line-height:1.3;
}

h2 {
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: #82ABA3;
  text-shadow: 3px 3px 3px #B6BBBE;
  text-align: left;
}

h3 {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: #60656C;
}

h4 {
  font-size: 16px;
  font-weight: normal;
  color: #60656C;
  margin: 0;
}

#navbar ul {
  width: 480px;
  list-style-type: none;
  display: flex;
  margin: auto;
  padding: 0;
}

ul li {
  position: relative;
  width: 120px;
  height: 1em;
  margin: auto;
}

nav a {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 18px;
  font-weight: 600;
  color: #82ABA3;
  text-decoration: none;
  padding: .2em;
  transform: translate(-50%, -50%);
  transition: font-size 200ms;
}

nav a:hover {
  color: #FFFBF5;
  cursor: pointer;
  font-size: 20px;
  transform: translate(-50%, -50%);
  transition: font-size 200ms;
}

#body_bg {
  position: relative;
  width: 78%;
  min-height: 1000px;
  background-color: #EEF1EA;
  border-radius: 10px;
  box-shadow: 0 0 8px #B6BBBE;
  margin: 5em auto 3em;
}

.heading {
  position: absolute;
  left: 38px;
  top: 34px;
  margin: auto;
}

.subheading_circle {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #D7D8EA;
}

.subheading_circle .subheading {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 0;
  transform: translateY(-50%);
}

.paragraph {
  position: relative;
  margin: 40px 45px;
  width: auto;
  min-height: 6.5em;
}

.paragraph div, .paragraph ul {
  position: absolute;
}

.page_bottom {
  position: relative;
  width: 78%;
  height: 64px;
  font-size: 14px;
  color: #75809C;
  margin: auto;
  padding: 0 11%;
}

#navbar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #D0DCDD;
  margin: 0;
  padding: 0;
  z-index: 999;

}

#navbar .navcontent {
  position: absolute;
  right: 1.5em;
  color: #82ABA3;
  margin: 3px auto;
  padding: 1em .5em;
  display: flex;
  justify-content: space-evenly;
}

