html {
  background-color: transparent;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}
body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  background-color: #FFFBF5;
  background-image: linear-gradient(0deg, #FFFBF5, #EDEDE8);
  background-size: 100% 810px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
}
hr {
  width: 90%;
  border-top: 1px solid #BFC2CB;
}
a:hover {
  cursor: pointer;
}
/* Preloader */
#preloader * {
  z-index: 9999;
}
#progress-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20vw;
  height: 2.5vh;
  border: 1.8px solid #D0DCDD;
  padding: 2px;
  display: flex;
  justify-content: space-between;
}
.dot {
  position: relative;
  width: 4vh;
  height: 2.5vh;
  background-color: #D0DCDD;
  margin: auto 0;
}
div[id*="curtain-"] {
  position: fixed;
  left: 0;
  height: 50vh;
  width: 100vw;
  background-color: #FFFBF5;
  /* animation: draw-the-curtains 1s linear; */
}
@keyframes draw-the-curtains {
  from {
    height: 50vh;
  }
  to {
    height: 0vh;
  }
}
/* End Preloader */

/* navbar */
#navbar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 64px;
  background-color: #D0DCDD;
  margin: 0;
  padding: 0;
  box-shadow: 0 1px 3px #B6BBBE;
  z-index: 999;
}
#navbar ul {
  width: 480px;
  height: 1.5em;
  list-style-type: none;
  display: flex;
  margin: auto;
  padding: 0;
}
#navbar li {
  position: relative;
  width: 120px;
  margin: auto;
}
#navbar a {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 18px;
  font-weight: 600;
  color: #82ABA3;
  text-decoration: none;
  transform: translate(-50%, -50%);
  transition: font-size 200ms;
}
#navbar a:hover {
  color: #FFFBF5;
  font-size: 20px;
  transform: translate(-50%, -50%);
  transition: font-size 200ms;
}
#navbar [id*="navcontent-"] {
  position: absolute;
  color: #82ABA3;
  margin: 0 auto;
  padding: 1.25rem .5rem;
  display: flex;
  justify-content: space-evenly;
}
#navcontent-right {
  right: 1.5rem;
}
/* End navbar */

/* index avatar */
#avatar_bg {
  position: relative;
  width: 80%;
  height: 16rem;
  margin: 9rem auto;
  display: flex;
}
#avatar::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-149%, -48%);
  width: 14.5rem;
  height: 14.8rem;
  background-color: #C9D3D5;
  border-radius: 50%;
  margin: auto;
  animation: avatar_effect 1.2s linear 0s infinite alternate;
  z-index: 0;
}
#avatar img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15rem;
  height: 15rem;
  transform: translate(-150%, -50%);
  border-radius: 50%;
  margin: auto;
  box-shadow: 0 0 8px #B6BBBE;
}
@keyframes avatar_effect {
  0% {
    transform: translate(-149%, -48%);
  }
  50%{
    transform: translate(-155%, -46%);
  }
  100% {
    transform: translate(-158%, -47%);
  }
}
#name {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8em;
  height: 3em;
  transform: translate(-10%, -75%);
  margin: auto;
}
/* End index avatar */

#body_bg {
  position: relative;
  width: 80%;
  min-width: 1000px;
  min-height: 1000px;
  background-color: #EDF0E9;
  border-radius: 10px;
  box-shadow: 0 0 8px #B6BBBE;
  margin: 5rem auto 3rem;
}
#page_bottom {
  position: relative;
  width: 80%;
  height: 64px;
  font-size: 14px;
  color: #75809C;
  margin: 0;
  padding: 0 10%;
}
#page_bottom::after {
  content: "This page was last modified on Aug 2, 2023.";
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  #body_bg {
    width: 95%;
    margin: 2rem auto 1.5rem;
  }
  #page_bottom {
    width: 95%;
    padding: 0 2.5%;
  }
}
#content {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 5rem;
}
.paragraph {
  position: relative;
  width: auto;
  margin: 2.5rem 3rem;
}
.text {
  position: relative;
  margin: 0 auto;
  padding: 20px 40px;
}

#photo {
  position: relative;
  width: 280px;
  height: 350px;
  background-color: #ffffff;
  box-shadow: 4px 4px 8px #B6BBBE;
  border-radius: 10px;
  margin: 40px 1em;
}

#google-map {
  position: relative;
  top:44px;
  width: 80%;
  height: 80%;
  border: 0;
}
